<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>peter你好，我是中央电视台记者阿黄！</string>
		<key>time</key>
		<string>昨天 10:00</string>
		<key>icon</key>
		<string>head2</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你好，我很幸福</string>
		<key>time</key>
		<string>昨天 10:00</string>
		<key>icon</key>
		<string>head1</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>哇，你就是传说中的幸福哥啊</string>
		<key>time</key>
		<string>昨天 10:00</string>
		<key>icon</key>
		<string>head2</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>久闻大名无从得见啊</string>
		<key>time</key>
		<string>昨天 10:01</string>
		<key>icon</key>
		<string>head2</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>去死吧，听说你在CCAV工作的很不幸福？</string>
		<key>time</key>
		<string>昨天 10:01</string>
		<key>icon</key>
		<string>head1</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>哎，人艰不拆啊，累觉不爱啊。</string>
		<key>time</key>
		<string>昨天 10:02</string>
		<key>icon</key>
		<string>head2</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>卧槽，我怎么听说你们哪里都搞基啊？</string>
		<key>time</key>
		<string>昨天 10:03</string>
		<key>icon</key>
		<string>head1</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>额，你是怎么知道的啊，我们哪里很秘密啊？</string>
		<key>time</key>
		<string>昨天 10:04</string>
		<key>icon</key>
		<string>head2</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你猜</string>
		<key>time</key>
		<string>昨天 10:05</string>
		<key>icon</key>
		<string>head1</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你肯定是传说中的神哥</string>
		<key>time</key>
		<string>昨天 10:05</string>
		<key>icon</key>
		<string>head2</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你可以滚回去了，哥要睡觉！不送</string>
		<key>time</key>
		<string>昨天 10:06</string>
		<key>icon</key>
		<string>head1</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
